@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<br>
<img class="about_img" id="me" src="~/me.png" alt="Photo of Me">

<p>I’m a college student with a strong interest in information systems and building practical
    technical skills. I enjoy learning how technology supports real‑world processes and using
    that knowledge to solve problems and improve how systems work. This site is part of my
    ongoing effort to learn, experiment, and grow in the field.</p>